body {
	background-color: #ffd965;
	padding-top: 50px;
}

#container {
	background-color: #fafafa;
	height: 3900px;
}

#container_navbar {
	background-color: #fafafa;
}

header {
	background-color: blue;
	height: 50px;
}

p, a, label, input, textarea, .btn {
	font-family: 'Inconsolata', monospace;
}

textarea {
	resize: none;
}

form {
	padding: 7%;
}

.help-block {
	font-style: italic;
	font-size: 90%;
	padding-top: 0.5em;
}


#hero_row {
	background-color: #c25586;
	height: 800px;
}

#arte_left {
	background-color: #855c54;
	height: 700px;
}

#arte_right {
	background-color: #854235;
	height: 700px;
}

#prosa_left {
	background-color: #6980b8;
	height: 700px;
}

#prosa_right {
	background-color: #3b60b3;
	height: 700px;
}

#baul_title {
	background-color: #cc7818;
	height: 300px;
}

#baul1 {
	background-color: #dbbe8c;
	height: 300px;
}

#baul2 {
	background-color: #d1a354;
	height: 300px;
}

#baul3 {
	background-color: #c28825;
	height: 300px;
}

#jardin {
	background-color: #91c255;
	height: 200px;
}

#soy_left {
	background-color: #a769b8;
	height: 700px;
}

#soy_right {
	background-color: #9437ad;
	height: 700px;
}

footer {
	background-color: #ccca45;
	height: 200px;
}
